/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #404040;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-style: bold;
  color: #60d18f;
  font-variant: small-caps;
}

button {
  padding: 1.5em;
  border-radius: 15px;
  border: none;
}

.hidden {
  display: none;
}

#welcomeMessage {
  border-left: 4px dotted white;
  padding: 4px;
  padding-left: 1em;
}

#startMessage {
  font-size: 0.9em;
}

#gameButtonArea {
  padding-top: 15px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 5px;
}

#button1 {
  background: lightgreen;
}

#button1:active,
#button1.lit {
  background: green;
}

#button2 {
  background: lightblue;
}

#button2:active,
#button2.lit {
  background: blue;
}

#button3 {
  background: pink;
}

#button3:active,
#button3.lit {
  background: red;
}

#button4 {
  background: lightyellow;
}

#button4:active,
#button4.lit {
  background: yellow;
}
